<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>{{ name }} "watch list"</title>
</head>
<body>
    <img class="pic" src="{{ url_for('static', filename='img/1.jpg') }}" alt="头像"> <br>
    <h2>{{ name }}"watch list"</h2>  <br>
    <p>
        总共{{ movies|length }}个电影
    </p>  <br>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{ movie.title }}-{{ movie.year }}</li>
        {% endfor %}
    </ul>  <br>
    <footer>
        <small> &copy;2020 &nbsp;&nbsp;&nbsp;<a href="#">1903c</a> </small>
    </footer>
</body>
</html>


